<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='/styles/style.css') }}">
</head>
<body class="bg-dark">
    <nav class="navbar p-1 navbar-expand-lg bg-dark">
        <a id="logo" class="navbar-brand bg-dark text-light" href="#">UrMusic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/signup">Sign Up</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
          </div>
        </div>
      </nav>
    <div class="row pt-2 justify-content-center">
        <div class="col-4 text-center">
            <h3>
                {%block title%}{%endblock%}
            </h3>
        </div>
      </div> 
    </div>    
    {%block content%}{%endblock%}
</body>
</html>